<mat-card class="center content">
  <mat-card-title>Stats</mat-card-title>
  <mat-card-content class="row">
    <mat-card class="inner">
      <h4>Bath Temperature</h4>
      <mat-card-content>
        <p><strong>{{stats?.temperature}}</strong></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner">
      <h4>Heater Temperature</h4>
      <mat-card-content>
        <p><strong>{{stats?.heatingPanTemperature}}</strong></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner">
      <h4>Heating</h4>
      <mat-card-content>
        <button mat-raised-button color="warn" [class]="stats?.heating ? 'ok' : ''">
          {{stats?.heating ? 'On' : 'Off'}}
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card class="inner">
      <h4>Circulating</h4>
      <mat-card-content>
        <button mat-raised-button color="warn" [class]="stats?.circulating ? 'ok' : ''">
          {{stats?.circulating ? 'On' : 'Off'}}
        </button>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
<br>


<mat-card class="center content">
  <mat-card-title>Settings</mat-card-title>
  <mat-card-content class="row">
    <form [formGroup]="settingsForm" class="row">
      <mat-card class="inner">
        <h4>Temperature Limit</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="temperatureLimit">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="inner">
        <h4>Temperature Difference</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="temperatureDelta">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="inner">
        <h4>Heater Temperature Limit</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="heatingPanTemperatureLimit">
          </mat-form-field>
        </mat-card-content>
      </mat-card>


      <mat-card class="inner">
        <h4>Circulation Time Cycle</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="circulationTimeCycle">
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="inner">
        <h4>Lights</h4>
        <mat-card-content>
          <button mat-raised-button color="warn" [class]="setting.lightsOn ? 'ok' : ''"
                  (click)="setting.lightsOn = !setting.lightsOn">
            {{setting.lightsOn ? 'On' : 'Off'}}
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card class="inner">
        <h4>Debug Mode</h4>
        <mat-card-content>
          <button mat-raised-button color="warn" [class]="setting.debugMode ? 'ok' : ''"
                  (click)="setting.debugMode = !setting.debugMode">
            {{setting.debugMode ? 'On' : 'Off'}}
          </button>
        </mat-card-content>
      </mat-card>

    </form>
    <button mat-raised-button color="primary" (click)="updateSettings()">
      Update Settings
    </button>
  </mat-card-content>
</mat-card>

