<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/stats" routerLinkActive="mat-accent">
        <span>Stats</span>
      </button>
      <button mat-button routerLink="/timers" routerLinkActive="mat-accent">
        <span>Timers</span>
      </button>
      <button mat-button routerLink="/logs" routerLinkActive="mat-accent">
        <span>Logs</span>
      </button>
      <button mat-button routerLink="/statistics" routerLinkActive="mat-accent">
        <span>Statistics</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<img src="/assets/logo.png" class="center"/>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
