<mat-card class="center content" *ngIf="statisticsDataSource">
  <mat-card-title>Statistics</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="statisticsDataSource">
      <ng-container matColumnDef="heaterHours">
        <th mat-header-cell *matHeaderCellDef> Total hours heater </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.heaterHours | number: '1.2-2'}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="heaterHoursSinceStart">
        <th mat-header-cell *matHeaderCellDef> Heater Hours Since Start </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.heaterHoursSinceStart | number: '1.2-2'}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="circulationPumpHours">
        <th mat-header-cell *matHeaderCellDef> Total hours circulation pump </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.circulationPumpHours | number: '1.2-2'}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="effectiveBathTimeHours">
        <th mat-header-cell *matHeaderCellDef> Total Effective Bath Time </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.effectiveBathTimeHours | number: '1.2-2'}}</strong> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['heaterHours', 'heaterHoursSinceStart', 'circulationPumpHours', 'effectiveBathTimeHours']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['heaterHours', 'heaterHoursSinceStart', 'circulationPumpHours', 'effectiveBathTimeHours'];"></tr>
    </table>

  </mat-card-content>
</mat-card>

<br>
<mat-card class="center content" *ngIf="events">
  <mat-card-title>Statistics</mat-card-title>
  <mat-card-content>

    <div>
      <button
        mat-raised-button color="primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">Previous</button>
      <button
        mat-raised-button color="primary"
        mwlCalendarToday
        [(viewDate)]="viewDate">Today</button>
      <button
        mat-raised-button color="primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">Next</button>
      <br>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)">
      </mwl-calendar-month-view>
    </div>


  </mat-card-content>
</mat-card>
