<mat-card class="center content" *ngIf="timers.length > 0">
  <mat-card-title>Existing Timers</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="timers">
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.time | date: 'dd/MM/yyyy HH:mm'}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="temperatureLimit">
        <th mat-header-cell *matHeaderCellDef> Temperature Limit </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.settings.temperatureLimit}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="temperatureDelta">
        <th mat-header-cell *matHeaderCellDef> Temperature Delta </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.settings.temperatureDelta}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="heatingPanTemperatureLimit">
        <th mat-header-cell *matHeaderCellDef> Heater Temperature Limit </th>
        <td mat-cell *matCellDef="let element"> <strong>{{element.settings.heatingPanTemperatureLimit}}</strong> </td>
      </ng-container>


      <ng-container matColumnDef="lightsOn">
        <th mat-header-cell *matHeaderCellDef> Lights On </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" [class]="element.settings.lightsOn ? 'ok' : ''">
            {{element.settings.lightsOn ? 'On' : 'Off'}}
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="deleteTimer(element.id)">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['time', 'temperatureLimit', 'temperatureDelta',
      'heatingPanTemperatureLimit','lightsOn', 'delete']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['time', 'temperatureLimit', 'temperatureDelta',
      'heatingPanTemperatureLimit','lightsOn', 'delete'];"></tr>
    </table>

  </mat-card-content>
</mat-card>
<br>






<mat-card class="center content" *ngIf="setting">
  <mat-card-title>Create Timer</mat-card-title>
  <mat-card-content class="row">
    <form [formGroup]="settingsForm" class="row">
      <mat-card class="inner">
        <h4>Temperature Limit</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="temperatureLimit">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="inner">
        <h4>Temperature Difference</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="temperatureDelta">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="inner">
        <h4>Heater Temperature Limit</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="heatingPanTemperatureLimit">
          </mat-form-field>
        </mat-card-content>
      </mat-card>


      <mat-card class="inner">
        <h4>Circulation Time Cycle</h4>
        <mat-card-content>
          <mat-form-field appearance="standard">
            <input type="number" matInput formControlName="circulationTimeCycle">
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card class="inner">
        <h4>Lights</h4>
        <mat-card-content>
          <button mat-raised-button color="warn" [class]="settingsForm.getRawValue().lightsOn ? 'ok' : ''"
                  (click)="settingsForm.patchValue({lightsOn: !settingsForm.getRawValue().lightsOn}) ">
            {{settingsForm.getRawValue().lightsOn ? 'On' : 'Off'}}
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card class="inner">
        <h4>Debug Mode</h4>
        <mat-card-content>
          <button mat-raised-button color="warn" [class]="settingsForm.getRawValue().debugMode ? 'ok' : ''"
                  (click)="settingsForm.patchValue({debugMode: !settingsForm.getRawValue().debugMode}) ">
            {{settingsForm.getRawValue().debugMode ? 'On' : 'Off'}}
          </button>
        </mat-card-content>
      </mat-card>



    </form>
    <mat-card class="inner">
      <h4>Time</h4>
      <mat-card-content>
        <mat-form-field appearance="standard">
          <input type="datetime-local" matInput [(ngModel)]="time">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button color="primary" (click)="addTimer()">
      Add Timer
    </button>
  </mat-card-actions>
</mat-card>


